{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/cadastro_farmacia.css' %}">
{% endblock head %}



{% block body %}

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <img src="{% static 'img/logo.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-md-6">
            <h1 class="text-center" style="font-weight:900;">Seja Bem vindo</h1>
            <p class="text-center">Crie sua conta</p>
            <form action="{% url 'valida_cadastro_farmacia' %}" method="POST" class="mt-5"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-file mb-3">
                    <input class="form-control" type="file" id="formFile" name="imagem">
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" name="emailResponsavel" required>
                    <label for="floatingInput">email do responsável</label>
                </div>
                <div class="row">
                    <div class="col-md-6">


                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingCep" placeholder="Cep" name="cep"
                                required>
                            <label for="floatingInput">Cep</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingEstado" placeholder="Estado"
                                name="estado" readonly required>
                            <label for="floatingInput">Estado</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingCidade" placeholder="Cidade"
                                name="cidade" readonly required>
                            <label for="floatingInput">Cidade</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingBairro" placeholder="Bairro"
                                name="bairro" readonly required>
                            <label for="floatingInput">Bairro</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingLogradouro" placeholder="Logradouro"
                                name="logradouro" readonly required>
                            <label for="floatingInput">Logradouro</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="floatingNumero" placeholder="Numero"
                                name="numero" required>
                            <label for="floatingInput">Numero</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword" name="senha" required
                                minlength="8" pattern="(?=.*[A-Z]).{8,}"
                                title="A senha deve conter pelo menos uma letra maiúscula, uma letra minúscula, um número e ter no mínimo 8 caracteres">
                            <label for="floatingPassword">Senha</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" name="nomeResponsavel" required>
                            <label for="floatingInput">Nome do responsável</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingCpf" name="cpf" required>
                            <label for="floatingInput">CPF</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingCelular" name="celular" required>
                            <label for="floatingInput">Celular</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" name="nomeFantasia" required>
                            <label for="floatingInput">Nome fantasia</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingContaBancaria" name="contaBancaria"
                                required>
                            <label for="floatingInput">Conta bancária</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingCnpj" name="cnpj" required>
                            <label for="floatingInput">CNPJ</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPasswordConfirm" name="senhaConfirm"
                                required>
                            <label for="floatingPasswordConfirm">Confirme sua senha</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col text-start">
                        <a href="{% url 'login' %}" class="hover-a">Entre como cliente</a>
                    </div>
                    <div class="col text-end">
                        <a href="{% url 'login_farmacia' %}" class="hover-a">Ja possui conta? Clique aqui</a>
                    </div>
                </div>
                <br>
                <div class="d-grid gap-2">
                    <input type="submit" class="btn mx-auto btn-custom fs-5" type="button" value="Registre-se"
                        id="botaologin">
                </div>
            </form>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
            {% endif %}

        </div>
    </div>
</div>
<script>

    document.getElementById('floatingCnpj').addEventListener('input', function () {
        let cnpj = this.value.replace(/\D/g, ''); // Remove tudo que não é dígito
        if (cnpj.length > 0) {
            // Formatando de acordo com o padrão de CNPJ (xx.xxx.xxx/xxxx-xx)
            cnpj = cnpj.substring(0, 2) + '.' + cnpj.substring(2, 5) + '.' + cnpj.substring(5, 8) + '/' +
                cnpj.substring(8, 12) + '-' + cnpj.substring(12, 14);
        }
        this.value = cnpj;
    });

    document.getElementById('floatingContaBancaria').addEventListener('input', function () {
        let conta = this.value.replace(/\D/g, ''); // Remove tudo que não é dígito
        if (conta.length > 0) {
            // Formatando de acordo com o padrão de conta bancária (agência + conta)
            if (conta.length <= 7) {
                conta = conta.substring(0, 3) + '-' + conta.substring(3, 7);
            } else {
                conta = conta.substring(0, 3) + '-' + conta.substring(3, 8);
            }
        }
        this.value = conta;
    });

    document.getElementById('floatingCpf').addEventListener('input', function () {
        let cpf = this.value.replace(/\D/g, ''); // Remove tudo que não é dígito
        if (cpf.length > 0) {
            cpf = cpf.substring(0, 3) + '.' + cpf.substring(3, 6) + '.' + cpf.substring(6, 9) + '-' + cpf.substring(9, 11);
        }
        this.value = cpf;
    });

    document.getElementById('floatingCep').addEventListener('input', function () {
        let cep = this.value.replace(/\D/g, ''); // Remove tudo que não é dígito
        if (cep.length > 0) {
            cep = cep.substring(0, 5) + '-' + cep.substring(5, 8);
        }
        this.value = cep;
    });

    document.getElementById('floatingCelular').addEventListener('input', function () {
        let celular = this.value.replace(/\D/g, ''); // Remove tudo que não é dígito
        if (celular.length === 11) { // Formato para celular com DDD
            celular = '(' + celular.substring(0, 2) + ') ' + celular.substring(2, 7) + '-' + celular.substring(7, 11);
        } else if (celular.length === 10) { // Formato para celular sem DDD
            celular = '(' + celular.substring(0, 2) + ') ' + celular.substring(2, 6) + '-' + celular.substring(6, 10);
        }
        this.value = celular;
    });

    function clearAddressFields() {
        document.getElementById('floatingLogradouro').value = '';
        document.getElementById('floatingBairro').value = '';
        document.getElementById('floatingCidade').value = '';
        document.getElementById('floatingEstado').value = '';
    }

    document.getElementById('floatingCep').addEventListener('input', function () {
        let cep = this.value.replace(/\D/g, '');
        if (cep.length === 8) {
            let validacep = /^[0-9]{8}$/;
            if (validacep.test(cep)) {
                fetch(`https://viacep.com.br/ws/${cep}/json/`)
                    .then(response => response.json())
                    .then(data => {
                        if (!("erro" in data)) {
                            document.getElementById('floatingLogradouro').value = data.logradouro;
                            document.getElementById('floatingBairro').value = data.bairro;
                            document.getElementById('floatingCidade').value = data.localidade;
                            document.getElementById('floatingEstado').value = data.uf;
                        } else {
                            clearAddressFields();
                            alert("CEP não encontrado.");
                        }
                    })
                    .catch(error => {
                        clearAddressFields();
                        console.error('Error fetching CEP:', error);
                    });
            } else {
                clearAddressFields();
                alert("Formato de CEP inválido.");
            }
        } else {
            clearAddressFields();
        }
    });


</script>

{% endblock body %}