{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock head %}



{% block body %}

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 margem">
                <form action="{% url 'valida_cadastro_farmacia' %}" method="POST" class="mt-5" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h1>Registre-se</h1>
                    <hr>

                    <div class="form-floating mb-3">
                        <input type="file" class="form-control" id="imagem" name="imagem">
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" name="emailResponsavel">
                                <label for="floatingInput">email do responsável</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" name="cpf">
                                <label for="floatingInput">CPF</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" name="endereco">
                                <label for="floatingInput">Endereço</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="floatingInput" name="cnpj">
                                <label for="floatingInput">CNPJ</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword" name="senha">
                                <label for="floatingPassword">Senha</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" name="nomeResponsavel">
                                <label for="floatingInput">Nome do responsável</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="floatingInput" name="celular">
                                <label for="floatingInput">Celular</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" name="nomeFantasia">
                                <label for="floatingInput">Nome fantasia</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="floatingInput" name="contaBancaria">
                                <label for="floatingInput">Conta bancária</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPasswordConfirm"
                                    name="senhaConfirm">
                                <label for="floatingPasswordConfirm">Confirme sua senha</label>
                            </div>
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <input type="submit" class="btn btn-outline-success" value="registre-se" id="botaologin">
                    </div>
                </form>

                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
                {% endif %}

                <div class="mt-3 text-center">
                    <a href="{% url 'login' %}" class="btn btn-secondary mb-2">faça login</a>
                    <a href="{% url 'cadastro_farmacia' %}" class="btn btn-secondary mb-2">crie uma conta para sua
                        farmácia</a>
                </div>
            </div>
        </div>
    </div>

</body>

{% endblock body %}