{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock head %}



{% block body %}
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 margem">
                <form action="{% url 'valida_cadastro' %}" method="POST" class="mt-5">
                    {% csrf_token %}
                    <h1>Registre-se</h1>
                    <hr>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="..." name="nome">
                        <label for="floatingInput">Nome completo</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                            name="email">
                        <label for="floatingInput">Email</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                            name="senha">
                        <label for="floatingPassword">Senha</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Confirme sua senha</label>
                    </div>

                    <div class="d-grid gap-2">
                        <input type="submit" class="btn btn-outline-success" value="registre-se" id="botaologin">
                    </div>
                </form>

                <div class="mt-3 text-center">
                    <a href="{% url 'login' %}" class="btn btn-secondary mb-2">faca login</a></li>
                    <a href="{% url 'cadastro_farmacia' %}" class="btn btn-secondary mb-2">crie uma conta para sua
                        farmacia</a></li>
                </div>
            </div>
        </div>
    </div>


</body>

{% endblock body %}
