{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock head %}



{% block body %}
<style>
    .profile-card img {
        width: 150px;
        /* Tamanho da imagem */
        height: 150px;
        /* Tamanho da imagem */
        object-fit: cover;
        /* Ajusta a imagem para cobrir o espaço sem distorção */
    }
</style>

<div class="container mt-4">
    <div class="card profile-card">
        <div class="card-header">
            <h1 class="card-title text-center">Perfil do Usuário</h1>
        </div>
        <div class="card-body">
            <form action="{% url 'editar_usuario' %}" method="POST" class="mt-5">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="Email"
                        value="{{ user_info.email }}" name="email">
                    <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Nome"
                        value="{{ user_info.nome }}" name="nome">
                    <label for="floatingInput">Nome</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingInput" placeholder="Senha"
                        value="{{ user_info.senha }}" name="senha">
                    <label for="floatingInput">Senha</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingCep" placeholder="Cep"
                        value="{{ user_info.cep }}" name="cep">
                    <label for="floatingInput">Cep</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingEstado" placeholder="Estado"
                        name="estado" readonly value="{{ user_info.estado }}">
                    <label for="floatingInput">Estado</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingCidade" placeholder="Cidade"
                        name="cidade" readonly value="{{ user_info.cidade }}">
                    <label for="floatingInput">Cidade</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingBairro" placeholder="Bairro"
                        name="bairro" readonly value="{{ user_info.bairro }}">
                    <label for="floatingInput">Bairro</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingLogradouro" placeholder="Logradouro"
                        name="logradouro" readonly value="{{ user_info.logradouro }}">
                    <label for="floatingInput">Logradouro</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="floatingNumero" placeholder="Numero"
                        name="numero" value="{{ user_info.numero }}">
                    <label for="floatingInput">Numero</label>
                </div>

                <a href="{% url 'perfil' %}" class="btn btn-danger mt-3">Cancelar</a>
                <button type="submit" class="btn btn-success mt-3">Confirmar Edição</button>
            </form>


        </div>
    </div>
</div>
<script>
    document.getElementById('floatingCep').addEventListener('input', function () {
        let cep = this.value.replace(/\D/g, '');
        if (cep.length === 8) {
            let validacep = /^[0-9]{8}$/;
            if (validacep.test(cep)) {
                fetch(`https://viacep.com.br/ws/${cep}/json/`)
                    .then(response => response.json())
                    .then(data => {
                        if (!("erro" in data)) {
                            document.getElementById('floatingLogradouro').value = data.logradouro;
                            document.getElementById('floatingBairro').value = data.bairro;
                            document.getElementById('floatingCidade').value = data.localidade;
                            document.getElementById('floatingEstado').value = data.uf;
                        } else {
                            clearAddressFields();
                            alert("CEP não encontrado.");
                        }
                    })
                    .catch(error => {
                        clearAddressFields();
                        console.error('Error fetching CEP:', error);
                    });
            } else {
                clearAddressFields();
                alert("Formato de CEP inválido.");
            }
        } else {
            clearAddressFields();
        }
    });

    function clearAddressFields() {
        document.getElementById('floatingLogradouro').value = '';
        document.getElementById('floatingBairro').value = '';
        document.getElementById('floatingCidade').value = '';
        document.getElementById('floatingEstado').value = '';
    }
</script>

{% endblock body %}