{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock head %}



{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 margem">
            <form action="{% url 'adicionarItem' %}" method="POST" class="mt-5">
                {% csrf_token %}

                <h1>Adiconar item</h1>
                <hr>

                <div class="form-floating mb-3">
                    <input type="file" class="form-control" id="floatingInput" name="imagem_item" accept="image/*">
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" name="nome_item">
                    <label for="floatingInput">Nome</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="floatingInput" name="preco_item">
                    <label for="floatingInput">Preço</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" id="floatingInput" name="descricao_item">
                    <label for="floatingPassword">descricao</label>
                </div>

                <div class="d-grid gap-2">
                    <input type="submit" class="btn btn-outline-success" value="adicionar item" id="botaologin">
                </div>
            </form>
        </div>
    </div>
</div>


{% for item in itens %}
    <div class="item">
        <h3>{{ item.nome }}</h3>
        <p>Preço: R$ {{ item.preco }}</p>
        <p>Descrição: {{ item.descricao }}</p>
        <img src="{{ item.imagem_url }}" alt="{{ item.nome }}" style="max-width: 200px;">
    </div>
{% endfor %}



{% endblock body %}