{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock head %}



{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 margem">
            <form action="{% url 'adicionarItem' %}" method="POST" class="mt-5" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <input class="form-control form-control-lg" type="file" id="formFile" name="imagem">
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="nome_item" name="nome_item">
                    <label for="nome_item">Nome</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="preco_item" name="preco_item">
                    <label for="preco_item">Preço</label>
                </div>

                <div class="form-floating mb-3">
                    <input class="form-control" id="descricao_item" name="descricao_item">
                    <label for="descricao_item">Descrição</label>
                </div>
                <br>
                <div class="d-grid gap-2">
                    <input type="submit" class="btn btn-custom mx-auto" type="button" value="Adicionar item" id="botaologin">
                </div>
            </form>

        </div>
    </div>
</div>
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
{% endif %}

    <div class="container mt-4">
        <div class="row">
                {% for item in itens %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <img src="{{ item.imagem_url }}" class="card-img-top" alt="{{ item.nome }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.nome }}</h5>
                            <p class="card-text">Preço: R$ {{ item.preco }}</p>
                            <p class="card-text">{{ item.descricao }}</p>

                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>



        {% endblock body %}