{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock head %}



{% block body %}
<style>
    .profile-card img {
        width: 150px;
        /* Tamanho da imagem */
        height: 150px;
        /* Tamanho da imagem */
        object-fit: cover;
        /* Ajusta a imagem para cobrir o espaço sem distorção */
    }
</style>

<div class="container mt-4">
    <div class="card profile-card">
        <div class="card-header">
            <h1 class="card-title text-center">Perfil do Usuário</h1>
        </div>
        <div class="card-body">
            <p class="card-text"><strong>Email:</strong> {{ user_info.email }}</p>
            <p class="card-text"><strong>Nome:</strong> {{ user_info.nome }}</p>
            <p class="card-text"><strong>cep:</strong> {{ user_info.cep }}</p>
            <p class="card-text"><strong>estado:</strong> {{ user_info.estado }}</p>
            <p class="card-text"><strong>cidade:</strong> {{ user_info.cidade }}</p>
            <p class="card-text"><strong>bairro:</strong> {{ user_info.bairro }}</p>
            <p class="card-text"><strong>numero:</strong> {{ user_info.numero }}</p>
            <a href="{% url 'editar_usuario' %}" class="btn btn-danger mt-3">Editar Perfil</a>
        </div>
    </div>
</div>
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
{% endif %}

{% endblock body %}