{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/loja.css' %}">
{% endblock head %}

{% block body %}
<style>
    .profile-card img {
        width: 150px;
        /* Tamanho da imagem */
        height: 150px;
        /* Tamanho da imagem */
        object-fit: cover;
        /* Ajusta a imagem para cobrir o espaço sem distorção */
    }
</style>

<div class="container mt-4">
    <div class="card profile-card">
        <div class="card-header">
            <h1 class="card-title text-center">Perfil do Usuário</h1>
        </div>
        <div class="card-header d-flex justify-content-center">
            <img src="{{user_info.imagem_perfil}}" alt="Foto de perfil" class="rounded-circle">
        </div>
        <div class="card-body">
            <p class="card-text"><strong>Email:</strong> {{ user_info.email }}</p>
            <p class="card-text"><strong>Nome Fantasia:</strong> {{ user_info.nomeFantasia }}</p>
            <p class="card-text"><strong>Celular:</strong> {{ user_info.celular }}</p>
            <p class="card-text"><strong>CNPJ:</strong> {{ user_info.cnpj }}</p>
            <p class="card-text"><strong>CPF:</strong> {{ user_info.cpf }}</p>
            <p class="card-text"><strong>Endereço:</strong> {{ user_info.endereco }}</p>
            <p class="card-text"><strong>Nome:</strong> {{ user_info.nome }}</p>
            <p class="card-text"><strong>Senha:</strong> {{ user_info.senha }}</p>

            <a href="{% url 'loja' %}" class="btn btn-danger mt-3">Adicionar item</a>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
            {% for item in itens %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <img src="{{ item.imagem_url }}" class="card-img-top" alt="{{ item.nome }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.nome }}</h5>
                        <p class="card-text">Preço: R$ {{ item.preco }}</p>
                        <p class="card-text">{{ item.descricao }}</p>

                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
</div>


{% endblock body %}