.col-md-6 {
margin-top: 30px;
border-radius: 20px;
}

.form-control:focus {
border-color: #48bbc61c;
box-shadow: #48bbc679 0px 4px 8px -2px, #48bbc613 0px 0px 0px 1px;
}

.btn-custom {
color: #48bbc6;
font-weight: bold;
border-radius: 10px;
height: 100%;
width: 45%;
background-color: transparent;
border-width: 2px;
border-color: #48bbc6;
}

.btn-custom:hover {
background-color: #48bbc6;
border-color: #48bbc6;
color: white;
}

.container {
margin-top: 100px;
}

.hover-a {
text-decoration: none;
color: #0f0e0e;
}
.hover-a:hover {
color: #48bbc6;
}

.alert-warning {
color: #721c24;
background-color: #f8d7da;
border-color: #f5c6cb;
}
