{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock head %}



{% block body %}
<h1>Detalhes da Farmácia</h1>
<p>Nome Fantasia: {{ farmacia.nomeFantasia }}</p>
<p>Endereço: {{ farmacia.endereco }}</p>

{% for item in itens %}
<div class="item">
    <h2>{{ item.nome }}</h2>
    <p>Preço: R$ {{ item.preco }}</p>
    <p>Descrição: {{ item.descricao }}</p>
    {% if item.imagem_url %}
    <img src="{{ item.imagem_url }}" alt="{{ item.nome }}">
    {% endif %}
</div>
{% endfor %}


{% endblock body %}