{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/farmaciaLoja.css' %}">
{% endblock head %}


{% block body %}
<style>
    .profile-card img {
        width: 150px;
        /* Tamanho da imagem */
        height: 150px;
        /* Tamanho da imagem */
        object-fit: cover;
        /* Ajusta a imagem para cobrir o espaço sem distorção */
    }
</style>
<div class="container mt-4">
    <div class="card profile-card">
        <div class="card-header d-flex justify-content-center">
            <img src="{{ farmacia.imagem_perfil }}" alt="Foto de perfil" class="img-fluid rounded mx-auto d-block rounded-circle">
        </div>
        <div class="card-body">
            <p class="card-text"><strong>Nome Fantasia:</strong>{{ farmacia.nomeFantasia }}</p>
            <p class="card-text"><strong>Celular:</strong> {{ farmacia.celular }}</p>
            <p class="card-text"><strong>Endereço:</strong> {{ farmacia.endereco }}</p>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        {% for item in itens %}
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <div class="img-container">
                    <img src="{{ item.imagem_url }}" class="card-img-top mt-2" alt="{{ item.nome }}">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ item.nome }}</h5>
                    <p class="card-text">Preço: R$ {{ item.preco }}</p>
                    <p class="card-text">{{ item.descricao }}</p>
                </div>
                <form action="{% url 'adicionar_ao_carrinho' item.id %}" method="POST" class="text-center">
                    {% csrf_token %}
                    <button class="btn btn-custom-base mb-2" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="30" fill="currentColor"
                            class="bi bi-cart-fill" viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                        </svg>
                    </button>
                </form>
            </div>
        </div>
        {% endfor %}

    </div>
</div>


{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
{% endif %}

{% endblock body %}