{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
{% endblock head %}


{% block title %}
main page
{% endblock title %}


{% block body %}
<body>
  <div class="container">
    <br>
    <div class="row justify-content-center">
      <div class="col-12 mb-3">
        <form method="GET" action="{% url 'home' %}">
          <button type="submit" name="sort" value="distance" class="btn btn-custom-filtro">Filtrar por Distância</button>
          <a href="{% url 'home' %}" class="btn btn-custom-filtro">Redefinir Filtro</a>
        </form>
      </div>

      {% for farmacia in farmacias %}
      <div class="col-12 col-md-6 mb-3">
        <a href="/farmaciaLoja/{{ farmacia.id }}" class="card card-hover">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{{ farmacia.imagem_perfil }}" class="img-fluid rounded img-farmacia ms-3" alt="Imagem da Farmácia">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ farmacia.nomeFantasia }}</h5>
                <p class="card-text">{{ farmacia.endereco }}</p>
                {% if farmacia.distancia is not None %}
                <p class="card-text">Distância: {{ farmacia.distancia|floatformat:2 }} km</p>
                {% endif %}
              </div>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</body>
{% endblock body %}