{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
{% endblock head %}


{% block title %}
main page
{% endblock title %}


{% block body %}

<body>

  <div class="container">
    <div class="row justify-content-center">

      {% for farmacia in farmacias %}
      <div class="col-12 col-md-8 mb-3">
        <a href="/famaciaLoja/{{ farmacia.id }}" class="card card-hover">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{{ farmacia.imagem_perfil }}" class="img-fluid rounded img-farmacia" alt="Imagem da Farmácia">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ farmacia.nomeFantasia }}</h5>
                <p class="card-text">{{ farmacia.endereco }}</p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <br>
      <br>
      {% endfor %}

    </div>
  </div>

</body>


{% endblock body %}